<ion-header>

  <ion-navbar>
    <ion-title>sign-up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="app-info">Items marked with (
    <span class="app-important-red">*</span>) are mandatory.</div>
  <form [formGroup]="signUpForm">
    <ion-label>User Details:</ion-label>
    <ion-list>

      <ion-item>
        <ion-label floating>Username
          <span class="app-important-red">*</span>
        </ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <div class="app-error-message error-message" *ngIf="!signUpForm.controls.name.valid  && (signUpForm.controls.name.dirty || submitAttempted)">
        Please enter your name.
      </div>

      <ion-item>
        <ion-label floating>Email
          <span class="app-important-red">*</span>
        </ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <div class="app-error-message error-message" *ngIf="!signUpForm.controls.email.valid  && (signUpForm.controls.email.dirty || submitAttempted)">
        Please enter your email id.
      </div>

      <ion-item>
        <ion-label floating>Password
          <span class="app-important-red">*</span>
        </ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div class="app-error-message error-message" *ngIf="!signUpForm.controls.password.valid  && (signUpForm.controls.password.dirty || submitAttempted)">
        Please enter a password with at least 6 characters.
      </div>

      <ion-item>
        <ion-label floating>Confirm Password
          <span class="app-important-red">*</span>
        </ion-label>
        <ion-input type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>
      <div class="app-error-message error-message" *ngIf="!signUpForm.controls.confirmPassword.valid  && (signUpForm.controls.confirmPassword.dirty || submitAttempted)">
        Passwords do not match.
      </div>

    </ion-list>

    <br/>
    <br/>
    <ion-label>Addres:</ion-label>
    <ion-list formGroupName="address">

      <ion-item>
        <ion-label floating>Building no
        </ion-label>
        <ion-input type="text" formControlName="no"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Street
        </ion-label>
        <ion-input type="text" formControlName="street"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Area
        </ion-label>
        <ion-input type="text" formControlName="area"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Land Mark
        </ion-label>
        <ion-input type="text" formControlName="landmark"></ion-input>
      </ion-item>

    </ion-list>

    <button (click)="signUp()" ion-button margin color="danger">Sign up</button>
  </form>
</ion-content>
